In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config_ import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,87.78,76,20,3.00,US,2021-08-01 04:43:25
1,1,Hobart,-42.8794,147.3294,50.11,73,75,4.00,AU,2021-08-01 04:39:56
2,2,Beringovskiy,63.0500,179.3167,47.75,72,98,6.60,RU,2021-08-01 04:43:25
3,3,Rikitea,-23.1203,-134.9692,70.27,73,32,18.03,PF,2021-08-01 04:43:26
4,4,Castro,-24.7911,-50.0119,43.83,96,100,2.86,BR,2021-08-01 04:43:26

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,87.78,76,20,3.00,US,2021-08-01 04:43:25
14,14,Kazachinskoye,57.6953,93.2761,76.06,45,69,3.85,RU,2021-08-01 04:43:29
30,30,Gidam,18.9833,81.4000,80.71,74,100,13.02,IN,2021-08-01 04:43:34
40,40,Butaritari,3.0707,172.7902,82.62,71,15,8.25,KI,2021-08-01 04:43:37
45,45,San Patricio,28.0170,-97.5169,84.85,77,30,13.56,US,2021-08-01 04:43:39
48,48,Kieta,-6.2167,155.6333,82.06,81,62,7.76,PG,2021-08-01 04:43:40
54,54,Banda Aceh,5.5577,95.3222,86.16,63,100,17.76,ID,2021-08-01 04:43:42
56,56,Bathsheba,13.2167,-59.5167,81.21,78,20,16.11,BB,2021-08-01 04:43:42
57,57,Faanui,-16.4833,-151.7500,77.18,67,60,15.08,PF,2021-08-01 04:43:43
61,61,Puerto Escondido,15.8500,-97.0667,80.92,84,82,5.88,MX,2021-08-01 04:43:44

In [26]:
preferred_cities_df.count()

City_ID       189
City          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
Country       189
Date          189
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0              Kapaa      US     87.78  22.0752 -159.3190
14     Kazachinskoye      RU     76.06  57.6953   93.2761
30             Gidam      IN     80.71  18.9833   81.4000
40        Butaritari      KI     82.62   3.0707  172.7902
45      San Patricio      US     84.85  28.0170  -97.5169
48             Kieta      PG     82.06  -6.2167  155.6333
54        Banda Aceh      ID     86.16   5.5577   95.3222
56         Bathsheba      BB     81.21  13.2167  -59.5167
57            Faanui      PF     77.18 -16.4833 -151.7500
61  Puerto Escondido      MX     80.92  15.8500  -97.0667

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,87.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Kazachinskoye,RU,76.06,57.6953,93.2761,"Gostinitsa ""Tk Telemaks"""
30,Gidam,IN,80.71,18.9833,81.4000,Dhanshree Lodge And DormItory
40,Butaritari,KI,82.62,3.0707,172.7902,Isles Sunset Lodge
45,San Patricio,US,84.85,28.0170,-97.5169,"Motel 6 Sinton, TX"
48,Kieta,PG,82.06,-6.2167,155.6333,Uruna Bay Retreat
54,Banda Aceh,ID,86.16,5.5577,95.3222,Sulthan Hotel International
56,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
57,Faanui,PF,77.18,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
61,Puerto Escondido,MX,80.92,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))